
.reveal .title {
    font-size: 1.75em;
}

.reveal .author {
    font-size: 1.5em;
    padding-bottom: 50px;
}

.reveal .sitar {
    float: right;
}

.figure-number {
    display: none;
}

.reveal li {
    font-size: .70em;
}

.reveal .figure {
    font-size: .75em;
}

.reveal .tanpura {
    float: left;
    width: 33%;
}

.reveal .tablas {
    display: inline-block;
    width: 33%;
}

.reveal .sitar2 {
    float: right;
    width: 33%;
}

.reveal .leftcol {
    float: left;
    width: 50%;
}

.reveal .rightcol {
    float: right;
    width: 50%;
}

.reveal .leftcol_40 {
    float: left;
    width: 40%;
}

.reveal .rightcol_60 {
    float: right;
    width: 60%;
}

.reveal #so_what_solo {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    width: 40%;
}

.reveal .sources {
    width: 100%;
    font-size: .5em;
    text-align: left;
}
